.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 364px;
  height: 454px;
}

.card_price {
  font-size: 20px;
  font-weight: 800;
}

.card_img {
  display: flex;
  justify-content: center;
}

.card button {
  display: flex;
  justify-content: center;
}
