.mainpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 14px;
  margin: 0 -15px;
}

.mainpage button {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  border-radius: 15px;
  padding: 20px 40px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #313037;
  color: rgb(248, 241, 241);
}
