.container {
  padding: 0;
  margin: auto;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  max-width: 1120px;
}

@media (max-width: 768px) {
  .container {
    max-width: 688px;
  }
}

@media (max-width: 328px) {
  .container {
    max-width: 272px;
  }
}
